<h2>Editing channel</h2>

<%= render "form", channel: @channel %>

<hr>

<div class="container">
  <%= link_to "Show this channel", @channel %> |
  <%= link_to "Back to channels", channels_path %>
</div>
