<header class="contaner">
  <h2>Channels</h2>
</header>

<div id="channels" class="contaner">
  <% @channels.each do |channel| %>
    <%= render channel %>
  <% end %>
</div>

<hr>

<div class="contaner">
  <%= link_to "New channel", new_channel_path %>
</div>
