<div class="flex flex-col h-screen text-gray-700">
  <header class="flex-shrink-0 h-16 bg-gray-200">
    <h1>Three-Pane Layout</h1>
  </header>

  <main class="flex flex-row flex-1 overflow-hidden">
    <!-- -->
    <div class="flex flex-row flex-shrink-0" style="width: 8rem;"
      data-controller="frame"
      data-frame-target="movablePane"
      data-frame-storage-key-value="channelsPane"
    >
      <div class="flex-1 bg-gray-300 overflow-y-auto overflow-x-hidden">
        <turbo-frame id="channels" src="<%= channels_path(short: true) %>">
        </turbo-frame>
      </div>
      <div class="w-0.5 bg-red-500 cursor-col-resize" draggable="true"
        data-action="
          dragstart->frame#handlerDragStart
          drag->frame#handlerDrag
          dragend->frame#handlerDragEnd
        "
      >
      </div>
    </div>


    <!-- -->
    <div id="center-frame" class="flex flex-row flex-shrink-0" style="width: 8rem;"
      data-controller="frame"
      data-frame-target="movablePane"
      data-frame-storage-key-value="itemsPane"
    >
      <div class="flex-1 bg-gray-400 overflow-y-auto overflow-x-hidden">
        <turbo-frame id="items">
        </turbo-frame>
      </div>
      <div class="w-0.5 bg-red-500 cursor-col-resize" draggable="true"
      data-action="
        dragstart->frame#handlerDragStart
        drag->frame#handlerDrag
        dragend->frame#handlerDragEnd
      "
      >
      </div>
    </div>

    <!-- -->
    <div id="right-frame" class="flex-1 bg-gray-500 overflow-y-auto">
      <div>
        <turbo-frame id="contents">
        </turbo-frame>
      </div>
      <div class="w-0.5 bg-red-500 cursor-col-resize">
      </div>
    </div>
  </main>

  <footer class="flex-shrink-0 h-16 bg-gray-200">
    <p>Status</p>
  </footer>
</div>
