#----------------------------------------
# APPLICATION SETTINGS
#

# To enable Basic Authentication, set ENABLED_BASIC_AUTH to 1.
# Set BASIC_AUTH_PAIRS with username and password pairs.
#ENABLED_BASIC_AUTH=1
#BASIC_AUTH_PAIRS=user1:password1,user2:password2,userN:passwordN

# To disable Rack::Attack entirely, set ENABLED_RACK_ATTACK to 0.
# Default values: GET 300 requests/60s, non-GET 60 requests/60s, then ban for 600 seconds on suspicious paths.
#ENABLED_RACK_ATTACK=1
#RACK_ATTACK_GET_THROTTLE_LIMIT=300
#RACK_ATTACK_THROTTLE_LIMIT=60
#RACK_ATTACK_THROTTLE_PERIOD_SECONDS=60
#RACK_ATTACK_BAN_DURATION_SECONDS=600
