#----------------------------------------
# APPLICATION SETTINGS
#

# To enable Basic Authentication, set ENABLED_BASIC_AUTH to 1.
# Set BASIC_AUTH_PAIRS with username and password pairs.
#ENABLED_BASIC_AUTH=1
#BASIC_AUTH_PAIRS=user1:password1,user2:password2,userN:passwordN
