<header class="contaner">
  <h2>New article</h2>
</header>

<%= render "form", article: @article %>

<br>

<div class="contaner">
  <%= link_to "Back to articles", subscription_articles_path(@subscription) %>
</div>
