// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or any plugin's vendor/assets/javascripts directory can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file.
//
// Read Sprockets README (https://github.com/rails/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require jquery
//= require jquery_ujs
//= require turbolinks
//= require ./jquery-ui
//= require ./jquery.layout
//= require ./prototype-layout

// WORKAROUND:
//  Using a Rails helper method within a javascript asset
//  http://stackoverflow.com/questions/7451517/using-a-rails-helper-method-within-a-javascript-asset
<% environment.context_class.instance_eval { include Rails.application.routes.url_helpers } %>

;(function() {

/*

*/
function Browser() {
  this.initialize.apply(this, arguments);
}
Browser.prototype.initialize = function() {
  this.build();
};
Browser.prototype.build = function() {
  this.channels = new Channels();
  this.channels.addObserver(this);
  this.channels.build();

  this.articles = new Articles();
  this.articles.addObserver(this);
  this.articles.build();

  // initial trigger
  this.channels.update('<%= api_v1_channels_path %>');
};
Browser.prototype.update = function(notified_by, category) {
  console.log('Browser#update received notify from=['+ notified_by.constructor.name +'] with category=['+ category +']');
  if ( notified_by.constructor === Channels ) {
    console.log(this.channels.selectedValue());
    console.log(this.channels.selectedUrlArticles());
    this.articles.update(this.channels.selectedUrlArticles());
  }
  if ( notified_by.constructor === Articles ) {
    console.log(this.articles.selectedValue());
  }
};

/*
  Abstract class Observable
*/
Observable = function() {
  this.initialize.apply(this, arguments);
};
Observable.prototype.initialize = function() {
  this.observers = [];
};
Observable.prototype.addObserver = function(observer) {
  this.observers.push(observer);
  return this;
};
Observable.prototype.notify = function(category) {
  var i;
  for ( i in this.observers ) {
    this.observers[i].update(this, category);
  }
  return this;
};

/*

*/
function Channels() {
  this.super = Observable.prototype;
  this.root_id = '#channels';
  this.$root = $(this.root_id);
  Observable.apply(this, arguments);
}
Channels.prototype = Object.create(Observable.prototype, {
  constructor: { value: Channels }
});
Channels.prototype.update = function(url) {
  $.ajax(url, {
    dataType: 'json'
  }).then(function(data) {
    var i, l, j, m, site, channel, $ul;
    console.log(data);
    $ul = this.$root.empty().append('<ul>');
    for ( i = 0, l = data.length; i < l; ++i ) {
      site = data[i];
      for ( j = 0, m = site.channels.length; j < m; ++j ) {
        channel = site.channels[j];
        $ul.append('<li data-channel-id="'+ channel.id +'" data-url_articles="'+ channel.url_articles +'">'+ channel.title +'</li>');
      }
    }
  }.bind(this));
}
Channels.prototype.build = function() {
  this.$root.empty();
  this.addListeners();
};
Channels.prototype.addListeners = function() {
  this.$root.on({
    click: function(evt) {
      var $target = $(evt.target);
      console.log("click: "+ $target.data('channel-id'));
      $('li[data-channel-id].active', this.root_id).removeClass('active');
      $target.addClass('active');
      this.notify();
      return false;
    }.bind(this)
  }, 'li[data-channel-id]');
};
Channels.prototype.selectedValue = function() {
  return $('li.active', this.root_id).data('channel-id');
};
Channels.prototype.selectedUrlArticles = function() {
  return $('li.active', this.root_id).data('url_articles');
};

/*

*/
function Articles() {
  this.super = Observable.prototype;
  this.root_id = '#articles';
  this.$root = $(this.root_id);
  Observable.apply(this, arguments);
}
Articles.prototype = Object.create(Observable.prototype, {
  constructor: { value: Articles }
});
Articles.prototype.update = function(url) {
  $.ajax(url, {
    dataType: 'json'
  }).then(function(data) {
    var i, l, article, $ul;
    console.log(data);
    $ul = this.$root.empty().append('<ul>');
    for ( i = 0, l = data.length; i < l; ++i ) {
      article = data[i];
      $ul.append('<li data-article-id="'+ article.id +'">'+ article.title +'</li>');
    }
  }.bind(this));
}
Articles.prototype.build = function() {
  this.$root.empty();
  this.addListeners();
};
Articles.prototype.addListeners = function() {
  this.$root.on({
    click: function(evt) {
      var $target = $(evt.target);
      console.log("click: "+ $target.data('article-id'));
      $('li.active', this.root_id).removeClass('active');
      $target.addClass('active');
      this.notify();
      return false;
    }.bind(this)
  }, 'li');
};
Articles.prototype.selectedValue = function() {
  return $('li.active', this.root_id).data('article-id');
};

$(document).ready(function() {
  new Browser();
});
})();
