<header class="contaner">
  <h3><span>[<%= item.unread? ? '●' : '　' %>]</span> <%= item.title %></h3>
</header>

<div class="contaner">
  <%= link_to item.link, item.link %>
</div>

<div class="contaner m-4">
  <%= sanitize(item.description, tags: ['img'], attributes: ['src']).html_safe %>
</div>
